{% extends 'base.html' %}
{% block title %} Project {{ project.id }} {% endblock %}

{% block content %}
    <form method="post" action="{% url 'delete_project' project.pk %}">{% csrf_token %}
        <h4 class="text-center my-3 pb-3">{{ project.name }}</h4>
        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
            <div class="col text-center">
                <a href="{% url 'projects' %}" type="submit" class="btn btn-primary">Проекты</a>
                {% if user.is_authenticated %}
                    {% if perms.tracker.add_issuetracker %}
                        {% for user in project.users.all %}
                            {% if user == request.user %}
                                <a href="{% url 'add' project.pk %}" type="submit" class="btn btn-primary">Добавить
                                    задачу</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if perms.tracker.change_project %}

                        <a href="{% url 'edit_project' project.pk %}" type="submit" class="btn btn-primary">Редактировать</a>

                    {% endif %}
                    {% if perms.tracker.delete_project %}

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Удалить
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Вы уверены?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-12">
                                            <a href="{% url 'main' %}" type="submit" class="btn btn-primary">Вернуться
                                                на
                                                главную</a>
                                            <input type="submit" class="btn btn-danger" value="Да">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endif %}
            </div>

        </form>
        <table class="table mb-4">
            <thead>
            <tr>
                <th scope="col">Проект</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Полное описание</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.end_date }}</td>
                <td class="text-break">{{ task.description|linebreaks }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table mb-4">
            <h4 class="text-center my-3 pb-3">Список Задач по проекту</h4>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Задачи</th>
                <th scope="col">Статус</th>
                <th scope="col">Тип</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <th scope="row">{{ task.pk }}</th>
                    <td>{{ task.summary }}</td>
                    <td>{{ task.status }}</td>
                    <td>{% for type in task.type.all %}{{ type.name }} {% if not forloop.last %},
                    {% endif %} {% endfor %}</td>
                    <td><a href="{% url 'task' task.pk %}" class="btn btn-dark">Подробнее</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if user %}
            <table class="table mb-4">
                <h4 class="text-center my-3 pb-3">Список пользователей проекта</h4>
                <thead>
                <tr>
                    <th scope="col">Пользователи</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% for user in project.users.all %}{{ user }} {% if not forloop.last %},
                    {% endif %}{% endfor %} </td>
                </tr>
                </tbody>
            </table>
        {% else %}
        {% endif %}
        {% if user.is_authenticated %}
            {% if perms.tracker.change_project %}
                {% for user in project.users.all %}
                    {% if user == request.user %}
                        <a href="{% url 'edit_user' project.pk %}" type="submit" class="btn btn-primary text-center">Редактировать
                            пользователей</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
    </form>
{% endblock %}

